@model dotNettbankAdmin.Models.AccountVM

<!-- MODAL HEADER -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Endre konto</h3>
</div>
@using (Html.BeginForm())
{
        <!-- @Html.ValidationSummary() -->
        @Html.AntiForgeryToken()
        <!-- MODAL BODY -->
        <div class="modal-body">
            <div class="form-horizontal">
                <!-- Kontonummer -->
                <div class="form-group">
                    @Html.LabelFor(model => model.AccountNo, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.AccountNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.HiddenFor(model => model.AccountNo)
                        @Html.ValidationMessageFor(model => model.AccountNo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <!-- Eier personnummer -->
                <div class="form-group">
                    @Html.LabelFor(model => model.OwnerBirthNo, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.OwnerBirthNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OwnerBirthNo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- Kontonavn -->
                <div class="form-group">
                    @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- Balanse -->
                <div class="form-group">
                    @Html.LabelFor(model => model.Balance, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Balance, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Balance, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <!-- MODAL FOOTER -->
        <div class="modal-footer">
            <button class="btn btn-danger" type="button" data-dismiss="modal">Avbryt</button>
            <button class="btn btn-primary" type="button" id="update_btn">Endre</button>
        </div>
}
