@model List<dotNettbank.Model.Customer>

<div class="panel panel-default" data-id="FindCustomers">
    <div class="panel-heading">
        <h4>Kunder</h4>
    </div>
    <!-- SØKE FELT-->
    <div id="custom-search-input">
        <div class="input-group col-md-12">
            <input type="text" id="search" class="form-control input-lg" placeholder="Søk blant kunder..." />
            <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="button">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>

    <div class="panel-body">
        <!-- TABLE --> 
        <table class="table table-hover search-table paging-table">
            <thead class="thead-inverse">
                <tr>
                    <th>Fødselsnummer</th>
                    <th>Fornavn</th>

                    <th>Etternavn</th>
                    <th>Adresse</th>
                    <th>Telefonnummer</th>
                    <th>Endre</th>
                    <th>Deaktiver</th>
                    <th>Velg</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model)
            {
                    <tr id="search-row">
                        <td class="col-md-2">@Html.DisplayFor(modelItem => c.BirthNo)</td>
                        <td class="col-md-2">@Html.DisplayFor(modelItem => c.FirstName)</td>
                        <td class="col-md-2">@Html.DisplayFor(modelItem => c.LastName)</td>
                        <td class="col-md-2">@Html.DisplayFor(modelItem => c.Address)</td>
                        <td class="col-md-2">@Html.DisplayFor(modelItem => c.PhoneNo)</td>
                        <td class="col-md-1"><button class="btn btn-dark-theme" id="edit_btn2" data-id="@c.BirthNo"><i class="fa fa-pencil" aria-hidden="true"></i> Endre</button></td>
                        <td class="col-md-1"><button class="btn btn-dark-theme" id="delete_btn" data-id="@c.BirthNo"><i class="fa fa-user-times" aria-hidden="true"></i> Deaktiver</button></td>
                        <td class="col-md-1"><button data-firstname="@Html.DisplayFor(modelItem => c.FirstName)" data-lastname="@Html.DisplayFor(modelItem => c.LastName)" data-type="customer" data-name="@Html.DisplayFor(modelItem => c.FirstName)" data-id="@Html.DisplayFor(modelItem => c.BirthNo)" class="btn btn-dark-theme useraddtab"><i class="fa fa-tags" aria-hidden="true"></i>Velg</button></td>

                        <!--<td class="col-md-1"><button class="btn btn-info" id="show_payments_btn">Betalinger</button></td>
                        <td class="col-md-1"><button class="btn btn-info" id="show_transactions_btn">Transaksjoner</button></td>-->
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

<!-- ENDRE KONTO MODAL -->
<div class="modal fade" id="editor-container2" tabindex="-1"
     role="dialog" aria-labelledby="editor-title">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="editor-content-container2"></div>
    </div>
</div>

<!-- SLETT KONTO MODAL -->
<div class="modal fade" id="delete-container" tabindex="-1"
     role="dialog" aria-labelledby="editor-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="delete-content-container">
            <!-- MODAL HEADER -->
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Deaktiver kunde</h3>
            </div>
            <!-- MODAL BODY -->
            <div class="modal-body">
                <div id="intial_message">
                    Er du sikker på at du ønsker å deaktivere denne kunden?
                </div>
                <div id="error_message" class="text-danger">

                </div>
            </div>

            <!-- MODAL FOOTER -->
            <div class="modal-footer">
                <button class="btn btn-dark-theme" type="button" data-dismiss="modal">Avbryt</button>
                <button class="btn btn-dark-theme" type="button" id="delete_modal_btn">Deaktiver</button>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    // DOCUMENT READY:
    $(document).ready(function () {
        // ENDRE KONTO LISTENER:
        $(document).on('click', '#edit_btn2', function () {
            $('#editor-container2').off('hidden.bs.modal'); // Turn of hidden bs modal
            var birthNo = $(this).attr('data-id');
            //console.log(birthNo); Fødselsnummer kommer hit
            $.ajax({
                url: '/Admin/EditCustomerPartial',
                type: 'GET',
                data: { birthNo: birthNo },
                success: function(data){
                    $('#editor-content-container2').html(data);
                    $('#editor-container2').modal('show');
                }
            });
        });

        // ENDRE KNAPP I MODAL LISTENER:
        $(document).one('click', '#update_btn', function () {
            var self = $(this);
            $.ajax({
                url: '/Admin/UpdateCustomer',
                type: 'POST',
                data: self.closest('form').serialize(),
                success: function(data) {
                    if (data.success == true) {
                        // Turn on hidden bs modal with refresh of partial
                        $('#editor-container2').one('hidden.bs.modal', function (e) {
                            getPartial("FindCustomers");
                        })
                        $('#editor-container2').modal('hide');
                        $('#editor-content-container2').html("");

                    } else {

                        // If not succesful, reload modal with the partial/model from controller
                        $('#editor-content-container2').html(data);
                    }
                }
            });
        });

        var birthNo;
        // DEAKTIVER KONTO LISTENER:
        $(document).on('click', '#delete_btn', function () {
            birthNo = $(this).attr('data-id');
            $('#delete-container').off('hidden.bs.modal'); // Turn off hidden bs modal
            $('#delete-container').modal('show'); // show modal
            $('#intial_message').show();
            $('#error_message').hide();
            // SLETT KNAPP I MODAL LISTENER:

        }); // End of deaktiver konto

        $('#delete_modal_btn').click(function () {
            var self = $(this);
            $.ajax({
                url: '/Admin/DeactivateCustomer',
                type: 'POST',
                data: { birthNo: birthNo },
                success: function (data) {
                    if (data === "Suksess") {
                        // Turn on hidden bs modal with refresh of partial
                        $('#delete-container').on('hidden.bs.modal', function (e) {
                            getPartial("FindCustomers");
                        })
                        $('#delete-container').modal('hide');
                        $('#delete-content-container').html("");
                    } else {

                        $('#intial_message').hide();
                        $('#error_message').show();
                        $('#error_message').html(data);
                    }
                }
            });
        });
    }); // end of Document ready
</script>
<script src="~/Scripts/AdminPartials.js"></script>

