@model List<dotNettbank.Model.Customer>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Kunder</h4>
    </div>
    <!-- SØKE FELT-->
    <div id="custom-search-input">
        <div class="input-group col-md-12">
            <input type="text" id="search2" class="form-control input-lg" placeholder="Søk blant kunder..." />
            <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="button">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>

    <div class="panel-body">
        <!-- TABLE --> 
        <table class="table table-hover search-table">
            <thead class="thead-inverse">
                <tr>
                    <th>Fødselsnummer</th>
                    <th>Fornavn</th>
                    <th>Etternavn</th>
                    <th>Adresse</th>
                    <th>Telefonnummer</th>
                    <th>Endre</th>
                    <th>Slett</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model)
            {
                    <tr data-toggle="collapse" class="clickable">
                        <td class="col-md-2">@Html.DisplayFor(modelItem => c.BirthNo)</td>
                        <td class="col-md-2">@Html.DisplayFor(modelItem => c.FirstName)</td>
                        <td class="col-md-2">@Html.DisplayFor(modelItem => c.LastName)</td>
                        <td class="col-md-2">@Html.DisplayFor(modelItem => c.Address)</td>
                        <td class="col-md-1">@Html.DisplayFor(modelItem => c.PhoneNo)</td>
                        <td class="col-md-1"><button class="btn btn-info">Endre</button></td>
                        <td class="col-md-1"><button class="btn btn-danger">Slett</button></td>

                        <!--<td class="col-md-1"><button class="btn btn-info" id="show_payments_btn">Betalinger</button></td>
                        <td class="col-md-1"><button class="btn btn-info" id="show_transactions_btn">Transaksjoner</button></td>-->
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

<script src="~/Scripts/AdminPartials.js"></script>


