@model List<dotNettbank.Model.Payment>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Betalinger</h4>
    </div>
    <!-- SØKE FELT-->
    <div id="custom-search-input">
        <div class="input-group col-md-12">
            <input type="text" id="search" class="form-control input-lg" placeholder="Søk blant betalinger..." />
            <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="button">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
    <div class="panel-body">
        <!-- TABLE -->
        <table class="table table-hover search-table">
            <thead class="thead-inverse">
                <tr>
                    <th>ID</th>
                    <th>Dato Registrert</th>
                    <th>Beløp</th>
                    <th>KID</th>
                    <th>Fra</th>
                    <th>Til</th>
                    <th>Bekreft</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr data-toggle="collapse" class="clickable">
                        <td class="col-md-2">@Html.DisplayFor(modelItem => item.PaymentID)</td>
                        <td class="col-md-4">@Html.DisplayFor(modelItem => item.DueDate)</td>
                        <td class="col-md-2">@Html.DisplayFor(modelItem => item.Amount)</td>
                        <td class="col-md-2">@Html.DisplayFor(modelItem => item.Message)</td>
                        <td class="col-md-2">@Html.DisplayFor(modelItem => item.FromAccountNo)</td>
                        <td class="col-md-2">@Html.DisplayFor(modelItem => item.ToAccountNo)</td>
                        <td class="col-md-2"><button class="btn btn-default" id="betal_btn" data-id="@item.PaymentID">Betal</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- BEKREFT KONTO MODAL -->
<div class="modal fade" id="bekreft-container" tabindex="-1"
     role="dialog" aria-labelledby="editor-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="bekreft-content-container">
            <!-- MODAL HEADER -->
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Er du sikker på at du vil betale?</h3>
            </div>
            <!-- MODAL BODY -->
            <div class="modal-body">
                <button class="btn btn-default" type="button" data-dismiss="modal" style="font-size:1.4em; width:5em;">Nei</button>
                <button class="btn btn-primary" type="button" id="betal_modal_btn" style="margin-left:50px; font-size: 1.4em; width: 5em;">Ja</button>
            </div>
        </div>
    </div>
</div> 

<script src="~/Scripts/AdminPartials.js"></script>

<script type="text/javascript">
    // DOCUMENT READY:
    $(document).ready(function () {

        // ENDRE KONTO LISTENER:
        $(document).on('click', '#edit_btn', function () {
            var accountNo = $(this).attr('data-id');
            $.ajax({
                url: '/Admin/GetEditAccountPartial',
                type: 'GET',
                data: { accountNo: accountNo },
                success: function(data){
                    $('#editor-content-container').html(data);
                    $('#editor-container').modal('show');
                }
            });
        });

        // ENDRE KNAPP I MODAL LISTENER:
        $(document).on('click', '#update_btn', function () {
            var self = $(this);
            $.ajax({
                url: '/Admin/Betal',
                type: 'POST',
                data: self.closest('form').serialize(),
                success: function(data) {
                    if (data.success == true) {
                        $('#editor-container').modal('hide');
                        $('#editor-content-container').html("");
                        // "Refresh _Accounts partial after modal is closed (inside here so that accounts is not refreshed on close)
                        $('#editor-container').on('hidden.bs.modal', function (e) {
                            showAccounts();
                        })
                    } else {
                        // If not succesful, reload modal with the partial/model from controller
                        alert("Noe gikk galt, har du dekkning på konto?")
                    }
                }
            });
        });

        
        // NEI KNAPP LISTENER:
        $(document).on('click', '#betal_btn', function () {
            var paymentID = $(this).attr('data-id');
            $('#bekreft-container').modal('show');

            // JA KNAPP I MODAL LISTENER:
            $(document).on('click', '#betal_modal_btn', function () {
                var self = $(this);
                $.ajax({
                    url: '/Admin/Betal',
                    type: 'POST',
                    data: { paymentID: paymentID },
                    success: function (data) {
                        if (data == true) {
                            $('#bekreft-container').modal('hide');
                            $('#bekreft-content-container').html("");
                            // "Refresh _Accounts partial after modal is closed (inside here so that accounts is not refreshed on close)
                            $('#bekreft-container').on('hidden.bs.modal', function (e) {
                                betaling();
                            })
                        } else {
                            // If not succesful, reload modal with the partial/model from controller
                            // $('#editor-content-container').html(data);
                            alert("Dette gikk ikke!")
                        }
                    }
                });
            });
        });

        

            
    });
</script>


