
@model dotNettbankAdmin.Models.AdminSideModel

@{
    ViewBag.Title = "AdminSide";
}


<body class="hold-transition skin-black sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>HB</b>A</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>HardBank</b>Admin</span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                       
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img  src="/Content/img/adminIMG.png" class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">Fredrik Kloster</span>
                            </a>
                           
                        </li>
                        <!-- Logg Ut Toggle Button -->
                        <li>
                            @Html.ActionLink("Logg Ut", "Logout", "Admin", new { @class = "a" })
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="/Content/img/adminIMG.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Fredrik Kloster</p>
                    </div>
                </div>
                <!-- search form (Optional) -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                    <li class="header">Meny</li>
                    <!-- Optionally, you can add icons to the links -->
                    
                    <!-- Kunder -->
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user"></i> <span>Kunder</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#">Finn Kunder</a></li>
                            <li><a href="#" id="find_customers">Endre Kunde</a></li>
                        </ul>
                    </li>
                    <!-- Kontoer -->
                    <li><a href="#" id="accounts_link"><i class="fa fa-list"></i> <span>Kontoer</span></a></li>
                    <!-- Betalinger -->
                    <li><a href="#" id="payments_link"><i class="fa fa-files-o"></i> <span>Betalinger</span></a></li>
                    <!-- Transaksjoner -->
                    <li><a href="#" id="transactions_link"><i class="fa fa-credit-card"></i> <span>Transaksjoner</span></a></li>

                    <!--<li><a href="#"><i class="fa fa-user"></i> <span>Kunder</span></a></li>-->
                    <!--<li><a href="#" id="accounts_link"><i class="fa fa-list"></i> <span>Kontoer</span></a></li>-->
                    
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>




        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
           
            <!-- Main content -->
            <section id="productsPlace" class="content">
                <!-- Your Page Content Here -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
             
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2016 <a href="#">Kro Prouctions</a>.</strong> All rights reserved.
        </footer>
       
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        
    </div>


  
    
 
</body>

<script src="~/Scripts/app.min.js"></script>
<script src="~/Scripts/AdminSide.js"></script>


<script type="text/javascript">
    document.getElementById("find_customers").onclick = function () { findCustomers() };
    
    function findCustomers() {
            $.ajax({
                    type: 'POST',
                    url: '@Url.Action("FindCustomers","Admin")'
                }).done(function (result) {
                        $('#productsPlace').html(result);
                    })
    }
    document.getElementById("accounts_link").onclick = function () { showAccounts() };
    
    function showAccounts() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Accounts","Admin")',
            beforeSend: function () {
                $('#productsPlace').css('display', 'block');
                $('#productsPlace').animate({ opacity: 0 }, 0);
                $('#productsPlace').html("<img class='center-block' src='/Files/spin.svg' />").animate({ opacity: 1, top: "-10px" }, '500');
            },
        }).done(function (result) {
            $('#productsPlace').html(result);

        })
    }
    document.getElementById("transactions_link").onclick = function () { trans() };

    function trans() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Transactions","Admin")',
            beforeSend: function () {
                $('#productsPlace').css('display', 'block');
                $('#productsPlace').animate({ opacity: 0 }, 0);
                $('#productsPlace').html("<img class='center-block' src='/Files/spin.svg' />").animate({ opacity: 1, top: "-10px" }, '500');
            },
        }).done(function (result) {
            $('#productsPlace').html(result);
        })
    }

    document.getElementById("users_link").onclick = function () { users() };

    function users() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("FindCustomers","Admin")',
            beforeSend: function () {
                $('#productsPlace').css('display', 'block');
                $('#productsPlace').animate({ opacity: 0 }, 0);
                $('#productsPlace').html("<img class='center-block' src='/Files/spin.svg' />").animate({ opacity: 1, top: "-10px" }, '500');
            },
            }).done(function (result) {
                $('#productsPlace').html(result);
            })
    }
    

</script>
