@model dotNettbank.Models.AccountStatement

@{
    ViewBag.Title = "AccountStatement";
    Layout = "~/Views/Shared/_LayoutInnlogget.cshtml";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Kontoutskrift</h3>
    </div>

    <div class="panel-body">
        <div class="form-group input-group-sm col-md-12">
        </div>
        <div class="form-group input-group-sm col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <select class="selectpicker form-control" id="selected_account">
                            @foreach (var account in Model.Accounts)
                            {
                                <option>@(account.AccountNo)</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row col-md-12">
            <div class="form-group input-group-sm col-md-3">
                @Html.LabelFor(model => model.fromDate)
                @Html.TextBoxFor(model => model.fromDate, new { @class = "form-control datepicker", placeholder = "Velg fra-dato", id = "from_date" })
                @Html.ValidationMessageFor(model => model.fromDate)
            </div>

            <div class="form-group input-group-sm col-md-3">
                @Html.LabelFor(model => model.toDate)
                @Html.TextBoxFor(model => model.toDate, new { @class = "form-control datepicker", placeholder = "Velg til-dato", id = "to_date" })
                @Html.ValidationMessageFor(model => model.toDate)
            </div>
        </div>
        <div class="row col-md-12">
            <div class="form-group col-md-3">
                <button class="btn btn-info btn-lg" id="transactions_btn">Vis transaksjoner</button>
            </div>
        </div>
    </div>
</div>

    <div id="accountInfo"></div>

<div class="panel panel-default">
    <div id="transactionsList"></div>
    </div>

    <script type="text/javascript">
        $(function () {
            // When document is first loaded
            var account = $('#selected_account').find(":selected").text();
            fromDate = $('#from_date').datepicker("getDate"); // Convert from datepicker value to Date format
            toDate = $('#to_date').datepicker("getDate"); // Convert to datepicker value to Date format
            getAccountInfo();
            getTransactions();
            // When "Vis transaksjoner" button is pressed:
            $('#transactions_btn').click(function () {
                account = $('#selected_account').find(":selected").text();
                fromDate = $('#from_date').datepicker("getDate"); // Convert from datepicker value to Date format
                toDate = $('#to_date').datepicker("getDate"); // Convert to datepicker value to Date format
                getAccountInfo();
                getTransactions();

            });
            // Get account info for selected account
            function getAccountInfo() {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetAccountInfo","Customer")',
                    data: { accountNo: account } // reconvert date formats to ISO String
                }).done(function (result) {
                    $('#accountInfo').html(result);
                });
            }

            // Get Transactions to selected account, between dates:
            function getTransactions() {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetTransactions","Customer")',
                    data: { accountNo: account, fromDate: fromDate.toISOString(), toDate: toDate.toISOString() } // reconvert date formats to ISO String
                }).done(function (result) {
                    $('#transactionsList').html(result);
                });
            }
        });

    </script>

    <script type="text/javascript">
        $('.datepicker').datepicker(); //Initialise any date pickers
    </script>

    <script type="text/javascript">

        $('.collapse').on('show.bs.collapse', function () {
            $('.collapse.in').collapse('hide');
        });
    </script>
