@model dotNettbank.Models.PaymentInsertModel
@{
    ViewBag.Title = "PaymentInsert";
}

<h2>Betaling</h2>
<div class="row ">
    <div class="col-md-1">Fra</div>
</div>
<div class="row konto">
    <div class=".col-md-1">Brukskonto</div>
    <div class="col-md-2">91122 3344566</div>
    <div class="col-md-4"></div>
    <div class="col-md-2">10000,00 kr</div>

</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class=".col-md-1">Til</div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.tilKontonr, htmlAttributes: new { @class = "control-label col-md-1"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.tilKontonr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tilKontonr, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class=".col-md-1">Melding eller KID nummer</div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.meldingEllerKID, htmlAttributes: new{@class = "control-label col-md-1"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.meldingEllerKID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.meldingEllerKID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class=".col-md-1">Forfallsdato (dd:mm:åååå)</div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.forfallsdato, htmlAttributes: new{@class = "control-label col-md-1"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.forfallsdato, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.forfallsdato, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class=".col-md-1">Beløp</div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.beløp, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.beløp, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.beløp, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Bekreft" class="btn btn-primary" />
            </div>
        </div>
    </div>
}