@model dotNettbank.Models.Login.PasswordModel
@{
    ViewBag.Title = "LoginPassword";
    Layout = "~/Views/Shared/_LayoutUtlogget.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width" charset="UTF-8" />
</head>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="container" style="background-image:url(/Content/img/LoginPage.jpg)">
    <div class="row" style="min-height:600px;">
        <div class="col-md-4 col-md-offset-7">
            <div class="panel panel-default">


                    <div class="panel-heading">
                        <h3>BankID - Logg inn</h3>
                    </div>
                    <div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="col-sm-9">
                                        @Html.LabelFor(model => model.Password, htmlAttributes: new { })
                                    </div>

                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(n => n.Password).ToHtmlString()), @class = "form-control", maxlength = "11" } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>


                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        @Html.ActionLink("Tilbake", "LoginBankId", "Home", new { }, new { @class = "btn btn-success btn-lg", id = "back_btn" })
                                    </div>
                                    <div class="col-sm-3 col-sm-offset-1">
                                        <button type="submit" class="btn btn-success btn-lg ">
                                            Logg inn
                                        </button>
                                    </div>
                                </div>

                                <div class="form-group last">
                                    <div class="col-sm-12">
                                        <p><span class="glyphicon glyphicon-check" style="font-size: 1.8em"></span> Tast inn ditt personlige passord </p>
                                        <p><span class="glyphicon glyphicon-check" style="font-size: 1.8em"></span> Trykk på Logg inn </p>
                                        <p><span class="glyphicon glyphicon-check" style="font-size: 1.8em"></span> Innlogging ferdig!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        Ikke kunde? <a href="~/Admin/RegisterCustomer">Bli kunde her</a>
                    </div>
            </div>
        </div>
    </div>
</div>
}