@model dotNettbank.Models.LoginViewModel
@{
    ViewBag.Title = "LoginBirth";
    Layout = "~/Views/Shared/_LayoutUtlogget.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width" charset="UTF-8" />
</head>
<div class="container" style="background-image:url(/Content/img/LoginPage.jpg)">
    <div class="row" style="min-height:600px;">
        <div class="col-md-4 col-md-offset-7">
            <div class="panel panel-default">

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
                <div class="panel-heading">
                    <h3>BankID - Logg inn</h3>
                </div>
                <div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="col-sm-9">
                                    @Html.LabelFor(model => model.BirthNo, htmlAttributes: new { }) (11 siffer)
                                </div>

                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.BirthNo, new { htmlAttributes = new { placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(n => n.BirthNo).ToHtmlString()), @class = "form-control", maxlength = "11" } })
                                    @Html.ValidationMessageFor(model => model.BirthNo, "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <button type="submit" class="btn btn-success btn-lg ">
                                        Neste
                                    </button>
                                </div>
                            </div>

                            <div class="form-group last">
                                <div class="col-sm-12">
                                    <p><span class="glyphicon glyphicon-check" style="font-size: 1.8em"></span> Tast inn ditt fødselsnummer </p>
                                    <p><span class="glyphicon glyphicon-check" style="font-size: 1.8em"></span> Trykk på Neste </p>
                                    <p><span class="glyphicon glyphicon-check" style="font-size: 1.8em"></span> Følg instruksjonene i BankID-vinduet </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    Ikke registrert <a href="#">Registrer bruker her</a>
                </div>
}
            </div>
        </div>
    </div>
</div>